body {
    background-color: #262626;
}

/* navigation bar section */
.nav {
    display: flex;
    background-color: #4d4d4d;
    justify-content: space-around;
}

.nav > div {
    margin: 2px;
    padding: 10px;
    font-size: 20px;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.nav > div:hover{
    background-color: #444f5c;
    cursor: pointer;
}

.nav a {
    text-decoration: none;
    color: white;
}
/* body section*/
.body {
    display: flex;
    gap: 10%;
    color: wheat;
    justify-content: center;
    text-align: center;
}
.body > .left {
    align-self: center;
}
.right > button{
    margin: 20px;
    background-color: transparent;
    border: 0px;
}

.right button:hover{
    cursor: pointer;
    background-color: #4d4d4d;
}


/*favourite section*/

.fav{
    margin: 30px;
    display: flex;
    justify-content: space-around;
}

.fav > div {
    padding: 50px;
    border: 2px solid black;
    text-align: center;
    font-size: larger;
}

.fav > div:hover {
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
    cursor: pointer;
}

/*qoute section*/

.fortune {
    margin: 10%;
    text-align: center;
    background-color: #4d4d4d;
}

.fortune > p{
    padding: 10px;
    text-align: left;
}

#text {
    height: 5px;
    width: 90%;
    border: 0px ;
    border-radius: 2px;
    background-color: #262626;
}
hr{
    height: 5px;
    width: 95%;
    border: 0px ;
    border-radius: 2px;
    background-color: #4d4d4d;

}
/* fun Time section*/

.funTime{
    background-color: #003345 ;
    border-radius: 15px;
    font-size: 1.1em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 300px;
    padding: 10px 10px;
}


.funTime button{
    background-color: #444f5c;
    border: 0px;
    border-radius: 5px;
    margin-left: 30px;
    padding: 5px;
}

.funTime button:hover{
    cursor: pointer;
}

/*footer section*/

.footer{
    width: 100%;
    background-color: #4d4d4d;
    text-align: center;
}

/* Mobile device config*/

@media only screen and (max-width: 786px) {
    .body {
        display: flex;
        flex-direction: column;
    }
    

    .right img {
        width: 350px;
        height: 219px;
    }

    .fav > div {
        padding: 20px;
        margin: 1%;
    }

    .funTime{
        font-size: medium;
        margin: 1%;
        text-align: center;
    }
}

/* ############################  My Projects page css */