:root {
    --primary-color: #1d1d1d;
    --secondary-color: #2b2b2b;
    --accent-color: #c70039;
    --light-color: #eeeeee;
    --text-color: #ffffff;
    --border-color : #ddd;
    --selected-color: #4d4d4d;
}
*{
    color: var(--text-color);
}

html, body {
    height: 100%;
  }

body {
    background-color: var(--primary-color);
}

/*nav section*/
.nav {
    display: flex;
    background-color: var(--secondary-color);
    justify-content: space-around;
}

.nav > div {
    margin: 2px;
    padding: 10px;
    font-size: 20px;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.nav > div:hover{
    background-color: var(--secondary-color);
    cursor: pointer;
}

.nav a {
    text-decoration: none;
    color: white;
}

/*Container section*/

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container > div {
    margin: 50px;
}